<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="#"><img src="@/assets/img/logo.svg" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Тарифы и услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Интернет Дома</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Роуминг</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Бонусы и скидки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Помощь</a>
              </li>
            </ul>
          </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
      <h1 class="display-4">Микрозаймы на любые цели</h1>
      <p class="lead">Получите микрозайм по номеру телефона,
без поручителей и справок о доходах.
Одобрим кредит в день обращения!</p>
      <hr class="my-4">
      <a class="btn take-credit btn-lg" href="#calculatorCredit" role="button">Получить займ</a>
      </div>
    </div>
    <div class="container">
      <div class="title">
        <h2>Преимущества нашего микрозайма наличными</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="reasons">
            <img src="https://acdn.tinkoff.ru/static/pages/files/b082bf07-3b75-4e3f-8e90-103087ad97c6.svg" alt="1">
            <div>
              <h4>Деньги на следующий день</h4>
              <p>Одобрение в день обращения. <br> Оформите заявку и получите деньги на <br> следующий день, не выходя из дома</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="reasons">
            <img src="https://acdn.tinkoff.ru/static/pages/files/683a0bc8-4ecc-4b79-b6de-242e97bdc2ca.svg" alt="1">
            <div>
              <h4>По номеру телефона, без справок</h4>
              <p>Одобрение в день обращения. <br> Оформите заявку и получите деньги на <br> следующий день, не выходя из дома</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="reasons">
            <img src="https://acdn.tinkoff.ru/static/pages/files/b93ce8b7-60bd-4181-9ddf-646749567ad4.svg" alt="2">
            <div>
              <h4>Ставка по кредиту от 8%</h4>
              <p>Для каждого клиента ставка по кредиту <br> рассчитывается индивидуально</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-6 col-12">
          <div class="reasons">
            <img src="https://acdn.tinkoff.ru/static/pages/files/46512820-2df4-4308-8eea-7d5817f2ce65.svg" alt="">
            <div>
              <h4>Кредит на дебетовой карте</h4>
              <p> Представитель банка бесплатно доставит <br> дебетовую карту для кредита вместе <br> с документами</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="container credit_info">
      <div class="row">
        <div class="col-lg-6 col-12">
          <h4>Снижаем процентную ставку надежным клиентам</h4>
          <ul>
            <li>После одобрения кредита сообщим, доступно ли вам снижение процентной ставки</li>
            <li>Верните кредит без просрочек</li>
            <li>Мы пересчитаем проценты по сниженной ставке и вернем вам разницу</li>
          </ul>
        </div>
        <div class="col-lg-6 col-12">
          <img width="80%" src="https://terminals.qiwi.kz/Content/images/tenge.png" alt="">
        </div>
      </div>
    </div>
    <div class="container" id="calculatorCredit" style="margin: 40px auto">
      <div class="title">
        <h2>Рассчитайте условия на онлайн-калькуляторе и оставьте заявку на кредит наличными</h2>
      </div>
      <div class="calculator">
        <form action="POST" class="credit_form">
          <div class="row">
            <div class="col-lg-6 col-12">
              <div class="input_box">
                <h6>Сумма кредита</h6>
                <input type="range" min="1" max="50000" class="c_input credit_sum" v-model="sum">
                <p>{{sum}} ₸</p>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="input_box">
                <h6>Срок кредита (макс 30 дней)</h6>
                <input type="range" min="1" max="30" class="c_input credit_sum" v-model="date">
                <p>{{date}} дней</p>
              </div>
            </div>
            <div class="col-lg-12 col-12">
              <h6>Сумма возврата - <span>{{returnSum}}</span> ₸</h6>
            </div>
            <div class="col-lg-12 col-12">
              <input type="text" class="c_input" placeholder="Фамилия, имя, отчество *">
            </div>
            <div class="col-lg-6 col-12">
              <input type="text" placeholder="Номер телефона *" class="c_input" v-mask="'+7(###)-###-##-##'" v-model="phone">
            </div>
            <div class="col-lg-6 col-12">
              <input type="text" placeholder="Ваша электронная почта *" class="c_input" v-model="email">
            </div>
            <div class="col-lg-12 col-12">
              <select class="reason_select" v-model="reason">
                <option value="1">Ремонт</option>
                <option value="5">Учеба</option>
                <option value="6">Лечение</option>
                <option value="8">Шоппинг</option>
                <option value="10">Иное</option>
                <option value="11">Личные расходы</option>
              </select>
            </div> 
            <div class="send_request">
              <input type="submit" value="Получить займ" @click.prevent data-toggle="modal" data-target="#exampleModal">
            </div>
          </div>
        </form>
       </div>
    </div>
    <div class="container">
      <div class="title">
        <h2>Как погасить займ</h2>
      </div>
      <div class="row" style="margin: 25px 0;">
        <div class="col-lg-4 col-12 point_credit">
          <img src="https://acdn.tinkoff.ru/static/pages/files/8611ec17-5631-44bf-81f4-c83f394cf219.svg" alt="">
          <h4>Через баланс <br> телефона</h4>
          <p>
            Пополнив баланс телефона в разделе «Платежи» можно погасить кредит не выходя из дома
          </p>
        </div>
        <div class="col-lg-4 col-12 point_credit">
          <img src="https://acdn.tinkoff.ru/static/pages/files/43d66d64-856d-4a16-a68c-33fbe0b16e3d.svg" alt="">
          <h4>Внести платеж <br>  наличными</h4>
          <p>
В офисах связи, на почте, в пунктах денежных переводов и через терминалы
          </p>
        </div>
        <div class="col-lg-4 col-12 point_credit">
          <img src="https://acdn.tinkoff.ru/static/pages/files/8611ec17-5631-44bf-81f4-c83f394cf219.svg" alt="">
          <h4>Перевести деньги из любого банка</h4>
          <p>
Пополнив баланс телефона, вы можете закрыть займ не выходя из дома
          </p>
        </div>
      </div>
    </div>
    <div class="container notification">
      <div class="title">
        <h2> <span>Beeline</span>  поможет заплатить по кредиту вовремя</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12" style="text-align: right">
          <img style="width: 80%;" src="https://acdn.tinkoff.ru/static/pages/files/1b6b7bd7-6b8b-4994-96e3-80ac8296398c.webp" alt="">
        </div>
        <div class="col-lg-6 col-12">
          <h5 style="margin-top: 40px">Напомним заранее</h5>
          <p>За несколько дней до платежа по кредиту пришлем СМС с датой и суммой</p>
          <h5>Составим график платежей</h5>
          <p>Вместе с кредитом мы выдадим график платежей. Вы увидите, когда и сколько предстоит платить</p>
        </div>
      </div>
    </div>
  <div class="container">
        <div class="footer">
            <div class="row footer_section">
                <img src="@/assets/img/public_img_footer_logo.svg" class="footer_logo" alt="footer logo">
                <div class="row footer_section">
                    <a href="/" class="footer_link"><img src="@/assets/img/public_img_mail.svg" alt="mail"><span>НАПИСАТЬ В ПОДДЕРЖКУ</span></a>
                    <a href="/" class="footer_link"><img src="@/assets/img/public_img_wpp.svg" alt="whats app"><span>WhatsApp</span></a>
                    <a href="/" class="footer_link"><img src="@/assets/img/public_img_telegram.svg" alt="telegram"><span>Telegram</span></a>
                    <a href="/" class="footer_link"><img src="@/assets/img/public_img_mobile.svg" alt="mobile"><span>ОБРАТНЫЙ ЗВОНОК</span></a>
                </div>
            </div>
        </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Спасибо за заявку!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Менеджер свяжется с Вами в ближайшие 30 минут <br>
        для оформления микрозайма  </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn close_modal" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

  </div>
</template>
<script>
import Vue from 'vue'
 
// As a plugin
import VueMask from 'v-mask'
Vue.use(VueMask);

export default {
  data(){
    return{
      sum: 10000,
      date: 1,
      phone: '',
      email: '',
      reason: 11
    }
  },
  computed: {
    returnSum: function () {
      return (this.sum * 1.05) / this.date
    }
  }
}
</script>
<style lang="scss">
.close_modal{
  background-color:#FFD400;
}
.modal-footer{
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}
#app{
    font-family: 'Roboto',sans-serif !important;
}
.send_request{
  margin: 20px auto;
  input{
  font-style: normal;
  font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #13152D;
    padding: 15px 45px;
    border: 1px solid #FFD400;
    background-color: #FFD400;
    border-radius: 8px;
    text-decoration: none;
    transition: .4s ease-out;
    &:hover{
      transform: scale(1.05)
    }
  }
}
.reason_select{
    width: 100%;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #d4d7df;
    border-radius: 4px;
    height: 40px;
}
.input_box{
  text-align: left;
}
.credit_form{
  margin: 20px 0;
  border: 1px solid #d4d7df;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
}
.c_input{
    font-size: 18px;
    margin: 15px 0;
    width: 100%;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #d4d7df;
    border-radius: 4px;
    padding: 10px 15px;
}
.calculator{
  border: 1px solid #f6f7f8;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}
.notification{
    background-color: #f6f7f8;
  padding: 20px;
  border-radius: 5px;
}
.point_credit{
  text-align: center;
  h4{
    margin: 10px 0;
  }
}
.footer{
    margin-top: 0px;
    padding: 55px 0;
}

.footer_section{
    justify-content: space-between;
    align-items: center;
}

.footer_link{
    text-decoration: none;
    margin-left: 65px;
    span{
       margin-left: 12px; 
       font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.07em;
        color: #13152D;
    }
    &:hover{
        text-decoration: none;
    }
}

.credit_info{
  background-color: #f6f7f8;
  padding: 25px;
  border-radius: 5px;
  ul {
    margin-top: 15px;
  list-style: none; /* Remove default bullets */
  li{
    margin: 10px 0;
  }
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFD400; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
}
.reasons{
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
  img{
    margin-right: 15px; 
  }
}
  .navbar{
    box-shadow:0px 3px 9px rgba(19, 21, 45, 0.1), 0px 2px 3px rgba(19, 21, 45, 0.05)
  }
  .take-credit{
    background-color: #FFD400 ; 
  }
  .nav-link{
    color: black !important;
    transition: .3s;
    &:hover{
      color: #FFD400 !important;
    }
  }
  .jumbotron {
  background-image: linear-gradient(0deg, rgb(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7)), url("https://www.voxpopuli.kz/img/article/125/93_main.jpg");
  background-size: cover;
}
.title{
text-align: center;
}

@media screen and (max-width: 992px){
    .footer_section{
        flex-direction: column;
        .footer_link{
            margin:33px 0;
        }
    }
} 


</style>
